@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

html,
body,
:root {
  height: 100%;
}

body {
  @apply bg-gradient-to-b from-background1 via-background2 to-background3 text-primary
}

button {
  @apply bg-foreground px-2 py-2 w-fit rounded-sm cursor-pointer hover:bg-foreground/90 transition
}


@theme static {
  --color-background1: var(--background1);
  --color-background2: var(--background2);
  --color-background3: var(--background3);
  --color-primary: var(--primary);
  --color-foreground: var(--foreground);
}

@import "../themes/default.css";
@import "../themes/feeling-pink.css";