[data-theme="default"] {
    --background1: #3D0A3C;
    --background2: #240D23;
    --background3: #111111;
    --foreground1: #FF00FF;
    --foreground2: #3E0E3D;
    --highlight: #FF74FF;
    --primary: #ffffff;
    --secondary: #219ebc;
}

